html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

body {
    font-family: 'Gotham Pro', 'Open Sans', sans-serif;
    font-weight: bold;
	font-style: normal;
    color: black;
    margin: 0;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper__contents{
flex:1;
}