.contacts{
    width:30%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top:auto;
    margin-right: 38px;
}

.contacts__phone{
    font-size:21px;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}

.contacts__hours{
    display:flex;
    position:relative;
    flex-direction:column;
    align-items: flex-end;
}

.hours{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    color: rgba(236, 30, 121, 0.702);
    text-decoration: none;

}

.listdown{
    position:absolute;
    display:none;
    top:20px;
}
.listdown__menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.square__item{
    font-family: 'Gotham Pro';
    font-size:24px;
    font-style:normal;
    text-align: left;
}

.triangle{
    border: 6px solid transparent;
    width: 0;
    height: 0;
    border-right-color: white;
    border-bottom-color: white;
    top: 100%;
    right: 0;

}
.square{
        border:1px solid white;
        border-radius: 4px;
        width:155px;
        height:70px;
        top:100%;
        padding:15px 10px;
        margin:-1px;
        background: #fff;
        box-shadow: 2px 2px 5px 1px;
    }

    .square__item{
        font-size:12px;
        font-style:normal;
        text-align: left;
    }
    .square__item-1{
        font-weight: bold;
        color:#ec1e79;
    }

    .square__item-2{
        font-weight: lighter;
        color:black;
    }