.sidebar{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 30px;
}

.mainPage__container{
    display:flex;
    justify-content: space-between;
}
.maincontent{
    border: 1px solid #e8e9ed;
    text-align: center;
    padding:30px;
    margin-bottom: 20px;
}

.maincontent__title{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.maincontent__subtitle{
    font-size: 11px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.maincontent__subtitle-2{
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 10px;
}


.maincontent__list{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    
}

.maincontent__list--item{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.maincontent__list--item:before{
        content: '•';
        color: #ec1e79;
        display: inline-flex;
        margin-right: 30px;
}