.socials__title{
    color:black;
    font-size: 14px;
    margin-bottom: 8px;
}

.socials__list{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.socials__logotype:last-child{
    margin-right: 0px;
}

.socials__link{
    display:block;
    width:20px;
    height:20px;
    border-radius:50%;
    margin-right: 10px;
    color:#d4d4d4;
    background: center no-repeat #d4d4d8;
    position:relative;
}

.socials__logotype {
    position: absolute;
    top: 0;
    left: 0;
    right: 4px;
    bottom: 0;
    margin: auto;}

.socials__link:hover{
    background:#ec1e79;
}


.socials__logotype--fb{
    right:7px;
}
